<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="/assets/capa.jpeg"
      cardTitle="Leia pelo menos 30 minutos por dia"
      cardDescription="Junte-se a mim na jornada de explorar os mistérios da leitura. Descubra como consigo ler 1 livro por semana e transformar esse hábito em algo poderoso."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Meus livros preferidos da literatura brasileira"
      photoCover="/assets/book5.jpeg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Meus livros preferidos do gênero policial"
      photoCover="/assets/book2.jpeg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Meus livros preferidos da literatura inglesa"
      photoCover="/assets/book3.jpeg"
    >
    </app-small-card>
  </div>
</div>
